p.display-4{
	font-size: 2em;
}
a.btn.btn-primary.btn-lg{
	background-color: #008060!important;
	border: #008060 !important;
	box-shadow:none !important;

}
*{
	text-align: center;
}
a.btn.btn-primary.btn-lg:hover{
	background-color: #002e25!important;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15)!important;
}
a.btn.btn-primary.btn-lg:focus{
	background-color: #002e25!important;
	box-shadow: 0px 0px 2px 2px #008060!important;

}
div.jumbotron{
	background-color: white;
	text-align: center;
}

tr:hover{
    background-color:#f0f1f2;
    /* border:  */
    }

    div > table, div>button{
    display:none;
    }
    #my-table-shopify{
    display:none;
    }
    @media (max-width: 991.98px) { 
    table{
        display:none;
        }
         #my-table-shopify,div>button{
    display:block;
    }
    }

button{
width:100%;
border: 1px solid #d2d5d9;
background-color: white;
color: #6b7177;

}
button:focus{
color:black;
outline:0;
background-color: #f0f1f2;

}
table th,table td{
	border:1px solid #d2d5d9;
}

table.table{
	width:60%;
	margin-left:20%;
}



tr.my-title{
	background-color:#f0f1f2 ;
}
th span{
	font-weight: lighter;
}
span.b {
	vertical-align: text-top;
  }
  
  
  span.c {
	vertical-align: baseline;
  }
  
  span.sub {
	vertical-align: sub;
  }
  td>span{
	  font-size: 3em;
  }
  span>span{
	  font-size: 1em;
  }