p.display-4{
	font-size: 2em;
}
a.btn.btn-primary.btn-lg{
	background-color: #008060!important;
	border: #008060 !important;
	box-shadow:none !important;

}
*{
	text-align: center;
}
a.btn.btn-primary.btn-lg:hover{
	background-color: #002e25!important;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15)!important;
}
a.btn.btn-primary.btn-lg:focus{
	background-color: #002e25!important;
	box-shadow: 0px 0px 2px 2px #008060!important;

}
div.jumbotron.first-jumbotron{
	background-color: white;
	text-align: center;
}
table{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
tr:hover{
    background-color:#f0f1f2;
}

#my-table-shopify,#my-table-advance,#my-table-basic,div>button{
	display: none;
}
    @media (max-width: 1200px) { 

        #my-table-respondsive{
			display:none;
        }
        #my-table-shopify{
			display:block;
			/* margin-left: 50vw; */
		}
		#my-table-advance,#my-table-basic,#my-table-shopify{
			margin-top: 20vw;
			margin-left: 5vw;
			width:90vw;
			border:1px solid #d2d5d9;
			font-size: 12px;
		}
		#my-table-advance,#my-table-basic{
			display: none;
		}

		div>button{
			display: block;
			margin-left: 5vw;
		}

		h1{
			font-size: 18px !important;
		}
		
		p.display-4{
			font-size: 17px;
		
		}
		div.container>div.row div.col-sm-6, div.container>p{
			font-size: 12px;
		}
	}
/* div.container>div.row div.col-sm-6, div.container>p{
		font-size: 12px;
	} */
button{
	width:100%;
	border: 1px solid #d2d5d9;
	background-color: white;
	color: #6b7177;
	height: 3em;
}
button:focus{
	color:black;
	background-color: #f0f1f2;
	font-weight: bolder;
	outline: none!important;

}
table th,table td{
	border:1px solid #d2d5d9;
	color: #212326;
}

table#my-table-respondsive{
	width:60vw;
  	margin-left:20%;
	border:1px solid #d2d5d9;
}

tr.my-title{
	background-color:#f0f1f2 ;
}

tr.my-second-title th,tr.my-second-title td{
  background-color:#f0f1f2 ;
  border: none;
  font-weight: bold;
  text-align: left;
}

th span{
	font-weight: lighter;
}

span.sub-align {
  vertical-align: sub;
}

.strong-text{
  font-size: 1.5em;
  font-weight: 600;
}

.my-ok-icon{
    font-size: 1.5em;
    font-weight: 600;
    color:green
}

a.btn.btn-dark{
	width:10em; 
	font-size:1em;
	height:5%;
}

div.col-sm-6{
	line-height: 2em;
}

div.btn-group-vertical{
	width:90%;
}
div.container-fluid{
	background-color: #002e25;
	margin-top:-2.5%;
}

/* FOOTER NÈ */
div.my-footer>nav.navbar.navbar-expand-lg,div.my-footer>div.row{
	background-color: #002e25;
	text-decoration: none;
	font-family: 'Thasadith', sans-serif;
}

li.nav-item>a.nav-link{
	background-color: #002e25;
	text-decoration: none;
	color: white;
	font-family: 'Thasadith', sans-serif;
	font-weight: bolder;

}
a.nav-link:hover{
	text-decoration: none;
	border-bottom: 2px solid white;
	color: white;
	font-family: 'Thasadith', sans-serif;

}
div.row>a{
	color: #b6babf;
	text-decoration: none;
	font-family: 'Thasadith', sans-serif;
}
div#my-footer-bottom{
	margin-top:10px;
	border-top: 1px solid rgba(210,213,217,0.1);
	margin-left: 0;
}
/*MY ICON FOOTER  */

a.fa.fa-facebook,a.fa.fa-twitter,a.fa.fa-youtube,a.fa.fa-instagram,a.fa.fa-linkedin,a.fa.fa-pinterest{
	padding: 6px 2px 0px 2px;
    font-size: 15px;
    width: 18px;
    text-align: center;
    text-decoration: none;
	border-radius: 50%;
	background-color: white;
	color:#002e25;
	margin-left: 5px;

}
div.col.align-self-end>a{
	color:white;
	text-decoration: none;
	padding-right: 2.5em;
	font-weight: lighter;
}
div.col-4.col-md-4>div.row.my-title-col>a{
	color: white;
}
/* check already */
div.row>div.col-4.col-md-4>a.my-title-col{
	color: white;
	font-weight: bolder;
}
<<<<<<< HEAD
div.row>div.col-4.col-md-4>a{
	color:#b6babf;
}
div.col.align-self-end>div.row>div.col-12.col-md-4 a
,div.my-footer-bottom-mobile>div.row>div.col-12.col-md-4>a{
	color: white !important;
	text-decoration: none;
}
#my-footer-top-mobile{
	display: none;
}
@media (max-width: 1200px) {  
	#my-footer-top-desk{
		display: none;
	}
	#my-footer-top-mobile{
		display: block;

	}
	#my-footer-top-mobile>div.row>div.col-12.col-md-4 a{
		color:white!important;
		display: block;
		text-decoration: none;
		font-weight: bolder;
	}
}


/* HEADER */

=======
/*  */
>>>>>>> ea9059883776bf88f69a3fe3e6c8ae7bd6e39b7b
