.intro {
    background-color: #c3f0db;
    margin-bottom: 20%;
    height: auto;
}
.intro_text {
    padding-left: 10%;
    padding-top: 20%;
}
.sub_head {
    margin-bottom: 10%;
}
a {
    color:green;
}
a:hover {
    text-decoration: none;
    color:green;
}
a.col-md-6.choice { 
    text-decoration: none;
    color: black;
    max-width: 33%;
    margin-bottom: 5%;
    margin-right: 5%;
}
.head_highlight{
    color: green;
}
.head_highlight:hover {
    text-decoration: underline;
}
.intro_image {
    padding-top: 10%;
    position: relative;
}
.girl {
    padding-top: 2%;
    max-width: 40%;
    position: absolute;
}
.tree {
    max-width: 40%;
    position: absolute;
    margin-left: 38%;
}
.street{
    max-width: 40%;
    position: absolute;
    margin-left: 38%;
    margin-top: 50%;
}



.option {
    margin: 0px;
}

img {
    max-width: 70%;
    height: auto;
   
}
.online_store {
    position: relative;
    margin-left: 15%;
    background-color: #b9f0e9;
    margin-bottom: 20%;
    width: 46%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.online_store_image{
    position: absolute;
    max-width: 100%;
    margin-left: 65%;
}
.background_laptop {
    position: absolute;
}
.video {
    position: absolute;
    max-width: 48%;
    margin-top: 26%;
    margin-left: 7.5%;
}
.point_of_sale{
    position: relative;
    margin-left: 15%;
    
}
.point_of_sale_text {
    max-width: auto;
    position: relative;
    margin-left: 20%;
    background-color: #e7f09d;
    margin-bottom: 20%;
    padding-left: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.point_of_sale_image{
    position: absolute;
}

.sale_girl{
    position: absolute;
    max-width: 50%;
    margin-left: 20%;
    margin-top: 15%;
}
.device{
    max-width: 30%;
    position: absolute;
    border-top-right-radius: 25pt;
    margin-top: 60%;
    margin-left: 8%;
}
.phone {
    max-width: 30%;
    position: absolute;
    margin-top: 70%;
    margin-left: 42%;
}
.buy {
    position: relative;
    margin-left: 20%;
    background-color: #b9f0e9;
    margin-bottom: 20%;
    width: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.buy_image{
    position: absolute;
    margin-left: 60%;
}
.bottle {
    position: absolute;
    max-width: 35%;
    margin-top: 90%;
}
.buy_pic {
    max-width: 125%;
    margin-left: 40%;
}
.code {
    max-width: 100%;
    margin-left: 65%;
}
.channel{
    position: relative;
    margin-left: 15%;
}

.channel_text {
    position: relative;
    margin-left: 30%;
    background-color: #fdf7f9;
    margin-bottom: 20%;
    padding-left: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.channel_image {
    position: absolute;
}
.chat {
    position: absolute;
    max-width: 50%;
    margin-left: 35%;
    margin-top: 20%;
}
.start_sell {
    margin: auto;
    text-align: center;
    margin-bottom: 20%;
}
button {
    background-color: #008060;
	padding: 2% 5%;
	color: white;
	font-weight: bold;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
	transition: 150ms ease;
	transition-property: background-color, box-shadow, color;
	border-radius: 4px;
}
@media only screen and (max-width: 1080px) {
    



}



