#whole-page {
	max-width: 1600px;
	margin: auto;
}

/* FOOTER */
#footer div.my-footer > nav.navbar.navbar-expand-lg,
#footer div.my-footer > div.row {
	background-color: #002e25;
	text-decoration: none;
	font-family: "Thasadith", sans-serif;
}

#footer li.nav-item > a.nav-link {
	background-color: #002e25;
	text-decoration: none;
	color: white;
	font-family: "Thasadith", sans-serif;
	font-weight: bolder;
}
#footer a.nav-link:hover {
	text-decoration: none;
	border-bottom: 2px solid white;
	color: white;
	font-family: "Thasadith", sans-serif;
}
#footer div.row > a {
	color: #b6babf;
	text-decoration: none;
	font-family: "Thasadith", sans-serif;
}
#footer div#my-footer-bottom {
	margin-top: 10px;
	border-top: 1px solid rgba(210, 213, 217, 0.1);
	margin-left: 0;
}
/*MY ICON FOOTER  */
#footer * {
	text-align: center;
}
#footer a.fa.fa-facebook,
#footer a.fa.fa-twitter,
#footer a.fa.fa-youtube,
#footer a.fa.fa-instagram,
#footer a.fa.fa-linkedin,
#footer a.fa.fa-pinterest {
	padding: 6px 2px 0px 2px;
	font-size: 15px;
	width: 18px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	background-color: white;
	color: #002e25;
	margin-left: 5px;
}
#footer div.col.align-self-end > a {
	color: white;
	text-decoration: none;
	padding-right: 2.5em;
	font-weight: lighter;
}
#footer div.col-4.col-md-4 > div.row.my-title-col > a {
	color: white;
}
/* check already */
#footer div.row > div.col-4.col-md-4 > a.my-title-col {
	color: white;
	font-weight: bolder;
}
#footer div.row > div.col-4.col-md-4 > a {
	color: #b6babf;
}
#footer div.col.align-self-end > div.row > div.col-12.col-md-4 a,
#footer div.my-footer-bottom-mobile > div.row > div.col-12.col-md-4 > a {
	color: white !important;
	text-decoration: none;
}
#footer #my-footer-top-mobile {
	display: none;
}
@media (max-width: 1200px) {
	#footer #my-footer-top-desk {
		display: none;
	}
	#footer #my-footer-top-mobile {
		display: block;
	}
	#footer #my-footer-top-mobile .col-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	#footer #my-footer-top-mobile > div.row > div.col-12.col-md-4 a {
		color: white !important;
		display: block;
		text-decoration: none;
		font-weight: bolder;
	}
}
@media (max-width: 600px) {
	#my-contact-photo {
		display: none;
	}
	table.table.table-borderless {
		width: 100vw;
	}
}
/*header*/
#header {
	max-width: 1600px;
	background-color: white;
	border-bottom: 1px solid #e8e9eb;
	position: fixed;
	margin-top: 0;
	margin-left: auto;
	width: 100%;
	z-index: 1000;
	max-height: 40%;
	padding: 0% 5%;
}
#header .navbar {
	width: 100%;
}
#header .logo {
	max-height: 40px;
	margin: auto 0;
}

#header .company-name {
	padding-left: 4%;
	font-size: 1.3em;
	color: black;
	font-weight: bold;
	font-style: italic;
}
#header #sidebarContent {
	padding: 15%;
	padding-top: 5%;
}
#header .sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.5s;
}
#header #mySidebar #sidebarContent .row {
	display: flex !important;
	justify-content: space-between;
	padding-bottom: 5%;
	border-bottom: 1px solid Gainsboro;
}
#header #mySidebar #sidebarContent .row .col-sm-10 {
	padding: 0%;
}
#header #mySidebar #sidebarContent .row .col-sm-10 .company-name {
	color: black;
	font-weight: bold;
	font-style: italic;
}

#header #mySidebar #sidebarContent .row .col-sm-10 .company-name:hover {
	text-decoration: none;
}
#header #mySidebar #sidebarContent .row .col-sm-1 a {
	color: black;
	font-size: 1.5em;
}
#header #mySidebar #sidebarContent .row .col-sm-1 a:hover {
	text-decoration: none;
}
#header #mySidebar #sidebarContent .row .col-sm-12 {
	padding: 0%;
	margin-top: 5%;
	margin-bottom: 5%;
}
#header #mySidebar #sidebarContent .row .col-sm-12 a {
	color: black;
	font-weight: 500;
}
#header #mySidebar #sidebarContent .row .col-sm-12 a:hover {
	text-decoration: none;
}
#header #mySidebar #sidebarContent .row .col-sm-12 button {
	width: 100%;
	color: white;
	font-weight: bold;
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: #008060;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}
#header #mySidebar #sidebarContent .row .col-sm-12 button:hover {
	background-color: #004d3a;
	box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.15);
}
#background {
	opacity: 0.2;
	background-color: black;
	width: 0%;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	overflow-x: hidden;
}
#header .header-navbar #header-menu ul li {
	margin: 0 10px;
}
#header .header-navbar #header-menu ul li .last-item {
	color: #fff;
	background-color: #008060;
	font-weight: 700;
	transition: 150ms ease;
	transition-property: background-color, box-shadow, color;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}
#header .header-navbar #header-menu ul li .last-item:hover {
	background-color: #004d3a;
	box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.15);
}
#header .header-navbar #header-menu ul li a {
	font-size: 1em;
}
#header .header-navbar {
	display: flex !important;
	justify-content: space-between;
}
#header .header-navbar .navbar-brand {
	display: flex;
	flex-grow: 0 !important;
}
#header .header-navbar .navbar-collapse {
	flex-grow: 0 !important;
}
@media (min-width: 768px) {
	#header .navbar-expand-md {
		flex-flow: wrap !important;
	}
}
/*end header*/
#section1 {
	padding: 100px 3%;
}
#section2 {
	padding: 0% 3%;
	padding-bottom: 50px;
}

button {
	color: #008060;
	background-color: white;
	border: none;
}
button:hover {
	background-color: #004d3a;
	color: white;
}


#adjustform {
	width: 500px;
	background-color: white;
	border-radius: 10px;
	margin-top: 5%;
	margin-left: 5%;
}

#adjustform button {
	background-color: #008060;
	color: white;
	padding: 5px 20px;
	width: 50%;
	font-weight: bold;
	align-items: center;
}
#adjustform button:hover {
	background-color: #004d3a;
	box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.15);
}

#adjustform input {
	width: 40%;
}


#adjustform label {
	display: inline-block;
	font-size: 1em;
	font-weight: bold;
	width: 200px;
	padding: 6px 0;
	color: #464646;
	vertical-align: top;
}