/*header*/
#header {
	max-width: 1600px;
	background-color: white;
	border-bottom: 1px solid #e8e9eb;
	position: fixed;
	margin-top: 0;
	margin-left: auto;
	width: 100%;
	z-index: 1000;
	max-height: 40%;
	padding: 0% 5%;
}
.navbar {
	width: 100%;
}
.logo {
	max-height: 40px;
	margin: auto 0;
}

.company-name {
	padding-left: 4%;
	font-size: 1.3em;
	color: black;
	font-weight: bold;
	font-style: italic;
}
#sidebarContent {
	padding: 15%;
	padding-top: 5%;
}
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.5s;
}
#container #header #mySidebar #sidebarContent .row {
	display: flex !important;
	justify-content: space-between;
	padding-bottom: 5%;
	border-bottom: 1px solid Gainsboro;
}
#container #header #mySidebar #sidebarContent .row .col-sm-10 {
	padding: 0%;
}
#container #header #mySidebar #sidebarContent .row .col-sm-10 .company-name {
	color: black;
	font-weight: bold;
	font-style: italic;
}

#container #header #mySidebar #sidebarContent .row .col-sm-10 .company-name:hover {
	text-decoration: none;
}
#container #header #mySidebar #sidebarContent .row .col-sm-1 a {
	color: black;
	font-size: 1.5em;
}
#container #header #mySidebar #sidebarContent .row .col-sm-1 a:hover {
	text-decoration: none;
}
#container #header #mySidebar #sidebarContent .row .col-sm-12 {
	padding: 0%;
	margin-top: 5%;
	margin-bottom: 5%;
}
#container #header #mySidebar #sidebarContent .row .col-sm-12 a {
	color: black;
	font-weight: 500;
}
#container #header #mySidebar #sidebarContent .row .col-sm-12 a:hover {
	text-decoration: none;
}
#container #header #mySidebar #sidebarContent .row .col-sm-12 button {
	width: 100%;
	color: white;
	font-weight: bold;
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: #008060;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}
#container #header #mySidebar #sidebarContent .row .col-sm-12 button:hover {
	background-color: #004d3a;
	box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.15);
}
#background {
	opacity: 0.2;
	background-color: black;
	width: 0%;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	overflow-x: hidden;
}
#header .header-navbar #header-menu ul li {
	margin: 0 10px;
}
#header .header-navbar #header-menu ul li .last-item {
	color: #fff;
	background-color: #008060;
	font-weight: 700;
	transition: 150ms ease;
	transition-property: background-color, box-shadow, color;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}
#header .header-navbar #header-menu ul li .last-item:hover {
	background-color: #004d3a;
	box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.15);
}
#header .header-navbar #header-menu ul li a {
	font-size: 1em;
}
#header .header-navbar {
	display: flex !important;
	justify-content: space-between;
}
#header .header-navbar .navbar-brand {
	display: flex;
	flex-grow: 0 !important;
}
#header .header-navbar .navbar-collapse {
	flex-grow: 0 !important;
}
@media (min-width: 768px) {
	#header .navbar-expand-md {
		flex-flow: wrap !important;
	}
}
/*end header*/
.intro {
	background-color: #c3f0db;
	margin-bottom: 20%;
	height: auto;
}
.hidden {
	display: none;
}
.intro_text {
	padding-left: 10%;
	padding-top: 20%;
}
.sub_head {
	margin-bottom: 10%;
}
a {
	color: green;
}
a:hover {
	text-decoration: none;
	color: green;
}
a.col-md-6.choice {
	text-decoration: none;
	color: black;
	max-width: 35%;
	margin-bottom: 5%;
	margin-right: 5%;
}
.head_highlight {
	color: green;
}
.head_highlight:hover {
	text-decoration: underline;
}
.intro_image {
	padding-top: 10%;
	position: relative;
}
.girl {
	padding-top: 2%;
	max-width: 40%;
	position: absolute;
}
.tree {
	max-width: 40%;
	position: absolute;
	margin-left: 38%;
}
.street {
	max-width: 40%;
	position: absolute;
	margin-left: 38%;
	margin-top: 50%;
}
.detail {
	margin-bottom: 10%;
}

.option {
	margin: 0px;
}

img {
	max-width: 70%;
	height: auto;
}
.online_store {
	position: relative;
	margin-left: 15%;
	background-color: #b9f0e9;
	margin-bottom: 20%;
	width: 46%;
	padding-top: 5%;
	padding-bottom: 5%;
}
.online_store_image {
	position: absolute;
	max-width: 100%;
	margin-left: 65%;
}
.background_laptop {
	position: absolute;
}
.video {
	position: absolute;
	max-width: 48%;
	margin-top: 26%;
	margin-left: 7.5%;
}
.point_of_sale {
	position: relative;
	margin-left: 15%;
}
.point_of_sale_text {
	position: relative;
	margin-left: 20%;
	background-color: #e7f09d;
	margin-bottom: 20%;
	padding-left: 25%;
	padding-top: 5%;
	padding-bottom: 5%;
}
.point_of_sale_image {
	position: absolute;
}

.sale_girl {
	position: absolute;
	max-width: 50%;
	margin-left: 20%;
	margin-top: 15%;
}
.device {
	max-width: 30%;
	position: absolute;
	border-top-right-radius: 25pt;
	margin-top: 60%;
	margin-left: 8%;
}
.phone {
	max-width: 30%;
	position: absolute;
	margin-top: 70%;
	margin-left: 42%;
}
.buy {
	position: relative;
	margin-left: 20%;
	background-color: #b9f0e9;
	margin-bottom: 20%;
	width: 50%;
	padding-top: 5%;
	padding-bottom: 5%;
}
.buy_image {
	position: absolute;
	margin-left: 60%;
}
.bottle {
	position: absolute;
	max-width: 35%;
	margin-top: 90%;
}
.buy_pic {
	max-width: 125%;
	margin-left: 40%;
}
.code {
	max-width: 100%;
	margin-left: 65%;
}
.channel {
	position: relative;
	margin-left: 15%;
}

.channel_text {
	position: relative;
	margin-left: 30%;
	background-color: #fdf7f9;
	margin-bottom: 20%;
	padding-left: 25%;
	padding-top: 5%;
	padding-bottom: 5%;
}
.channel_image {
	position: absolute;
}
.chat {
	position: absolute;
	max-width: 50%;
	margin-left: 35%;
	margin-top: 20%;
}
.start_sell {
	max-width: 31.25em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.875em;
	text-align: center;
}
button {
	background-color: #008060;
	padding: 2% 5%;
	color: white;
	font-weight: bold;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
	transition: 150ms ease;
	transition-property: background-color, box-shadow, color;
	border-radius: 4px;
}
@media only screen and (max-width: 1080px) {
	h2 {
		font-size: 150%;
	}
	h3 {
		font-size: 120%;
	}
	a.col-md-6.choice {
		max-width: 45%;
	}
}

@media only screen and (max-width: 775px) {
	.girl {
		display: none;
	}
	.intro_text {
		flex: 0 0 50%;
	}
	.intro_image {
		max-width: 50%;
	}
	.tree {
		margin-left: 0%;
		height: auto;
		max-width: 80%;
	}
	.street {
		margin-left: 0%;
		height: auto;
		max-width: 80%;
		margin-top: 130%;
	}
	.point_of_sale_text,
	.channel_text {
		margin-left: 0%;
	}
	.online_store,
	.buy {
		width: 75%;
	}
	.online_store_image,
	.point_of_sale_image,
	.buy_image,
	.channel_image {
		display: none;
	}
	.store_hidden {
		display: inline-block;
		margin-bottom: 80%;
	}
	.point_hidden {
		display: inline-block;
		margin-bottom: 100%;
		margin-left: -10%;
		margin-top: -10%;
	}
	.buy_image_hidden {
		display: inline-block;
		margin-left: -20%;
		margin-bottom: 10%;
		max-width: 70%;
	}
	.bottle {
		display: none;
	}
	.channel_image_hidden {
		display: inline-block;
		margin-bottom: 100%;
		margin-left: -20%;
		margin-top: -10%;
	}
	.start_sell {
		width: 20em;
		max-width: 100%;
	}
	a.col-md-6.choice {
		max-width: 100%;
	}
	.channel_text,
	.point_of_sale_text {
		padding-left: 5%;
	}
}
@media only screen and (max-width: 400px) {
	.store_hidden,
	.buy_image_hidden,
	.channel_image_hidden,
	.point_hidden,
	.street,
	.tree {
		display: none;
	}
	.col-md-6 {
		width: 20em;
		max-width: 100%;
	}
}

/* footer css*/
#footer div.my-footer > nav.navbar.navbar-expand-lg,
div.my-footer > div.row {
	background-color: #002e25;
	text-decoration: none;
	font-family: "Thasadith", sans-serif;
}

#footer li.nav-item > a.nav-link {
	background-color: #002e25;
	text-decoration: none;
	color: white;
	font-family: "Thasadith", sans-serif;
	font-weight: bolder;
}
#footer a.nav-link:hover {
	text-decoration: none;
	border-bottom: 2px solid white;
	color: white;
	font-family: "Thasadith", sans-serif;
}
#footer div.row > a {
	color: #b6babf;
	text-decoration: none;
	font-family: "Thasadith", sans-serif;
}
#footer div#my-footer-bottom {
	margin-top: 10px;
	border-top: 1px solid rgba(210, 213, 217, 0.1);
	margin-left: 0;
}
/*MY ICON FOOTER  */

#footer a.fa.fa-facebook,
#footer a.fa.fa-twitter,
#footer a.fa.fa-youtube,
#footer a.fa.fa-instagram,
#footer a.fa.fa-linkedin,
#footer a.fa.fa-pinterest {
	padding: 6px 2px 0px 2px;
	font-size: 15px;
	width: 25px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	background-color: white;
	color: #002e25;
	margin-left: 5px;
}
#footer div.col.align-self-end > a {
	color: white;
	text-decoration: none;
	padding-right: 2.5em;
	font-weight: lighter;
}
#footer div.col-4.col-md-4 > div.row.my-title-col > a {
	color: white;
}
/* check already */
#footer div.row > div.col-4.col-md-4 > a.my-title-col {
	color: white;
	font-weight: bolder;
}
#footer div.row > div.col-4.col-md-4 > a {
	color: #b6babf;
}
#footer div.col.align-self-end > div.row > div.col-12.col-md-4 a,
#footer div.my-footer-bottom-mobile > div.row > div.col-12.col-md-4 > a {
	color: white !important;
	text-decoration: none;
}
#footer #my-footer-top-mobile {
	display: none;
}
@media (max-width: 1200px) {
	#footer #my-footer-top-desk {
		display: none;
	}
	#footer #my-footer-top-mobile {
		display: block;
	}
	#footer #my-footer-top-mobile .col-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	#footer #my-footer-top-mobile > div.row > div.col-12.col-md-4 a {
		color: white !important;
		display: block;
		text-decoration: none;
		font-weight: bolder;
	}
}
#footer * {
	text-align: center;
}
